

h1 {
    background-image: url('../images/pattern.jpeg');
    background-size: cover;
    color: khaki;
    padding: 20px;
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
        
}

h2 { 
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;    
}


h2#brushes {
    background-color: mediumspringgreen;
        
}

h2#frames {
    background-color: lightcoral;
        
}

h2#paint {
    background-color: skyblue;
        
}

span {
    font-family: helvetica;
    font-weight: bold;
    color: blue;    
}

p {
    font-family: helvetica;
   
    
    
}